.manipulator {

	width:100px;
	height:100px;
	position:fixed;
	bottom:0;

}

.manipulator#small {
	right:300px;
	background-color:orange;	
}

.manipulator#medium {
	right:200px;
	background-color:green;	
}

.manipulator#large {
	right:100px;
	background-color:blue;	
}

.manipulator#xlarge {
	right:0;
	background-color:yellow;	
}

body.small {
	width:320px !important;
}
body.medium {
	width:640px !important;
}
body.large {
	width:960px !important;
}
body.xlarge {
	width:100% !important;
}

html {
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
	margin-left: 25%;
	margin-bottom: 25%;
}

body {
	/*overflow: scroll;*/
	/*width: 25%;*/
}

div.transform-h-x {
	-webkit-transform: matrix(1.42, 0, 0, 0.71, 0, 0) rotate(45deg);
	-moz-transform: matrix(1.42, 0, 0, 0.71, 0, 0) rotate(45deg);
	width: 100%;
	height: 100%;
}

div.transform-v-z {
	-webkit-transform: matrix(1, -0.5, 0, 1, 0, 0);
	-moz-transform: matrix(1, -0.5, 0, 1, 0, 0);
}

div.transform-x-y {
	-webkit-transform: matrix(1, 0.5, 0, 1, 0, 0);
	-moz-transform (1, 0, 0.5, 0, 1, 0, 0);
}

#transformDiv  {

}

