html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;

}

.node1 {
	width: 50px;
	height: 50px;
	margin-left: -25px;
	margin-top: -25px;

	background-color: green;
	position: absolute;

	left: 50px;
	top: 50px;

	border-radius: 30px;
	border: 5px solid orange;
	z-index: 20;
}
.node2 {
	width: 50px;
	height: 50px;
	margin-left: -25px;
	margin-top: -25px;

	background-color: yellow;
	position: absolute;

	left: 300px;
	top: 300px;

	border-radius: 30px;
	border: 5px solid red;
	z-index: 20;
}
.line1wrapper {
	position: absolute;
	display: inline-block !important;
	z-index: 10;
}
.line1 {
}

/* node repeller example */
.circle {
    float: left;
    width: 54px;
    height: 54px;
    background-color: #5061cf;
}

.bumper {
    position: absolute;
    top: 75px;
    left: 200px;
    padding: 32px;
    overflow: auto;
    outline: 1px solid red;
}
