html, body {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	overflow: hidden;
}

#wrapper {
	width: 100%;
}

.textCenter {
	position: absolute;
	display: inline-block;
	
	text-align: center;
	left: 0;
	right: 0;
	top: 48%;


}

img {
	display: block;
	height: 100%;
	margin: 0 auto;
}



